<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Add user</h2>
        </div>
        <div class="card-body">
          <form method="post" role="form" id="formId" class="form-horizontal" onsubmit="return post()">
            <div class="form-group mb-3">
              <label class="control-label"> Name</label>
              <p id="nameError" style="color: red;"></p>
              <input type="text" id="name" name="name" class="form-control" placeholder="Enter name" required/>
            </div>
            <div class="input-group mb-3">
              <label class="control-label"> Gender </label>
              <!--              <input type="text" id="gender" name="gender" class="form-control" placeholder="Enter user name"/>-->
              <div class="form-check">
                <input class="form-check-input ms-3" type="radio" name="gender" id="radNam" value="Nam" checked>
                <label class="form-check-label" for="radNam">
                  Nam
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input ms-2" type="radio" name="gender" id="radNu" value="Nu">
                <label class="form-check-label" for="radNu">
                  Nữ
                </label>
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="control-label"> Birthday</label>
              <p id="birthdayError" style="color: red;"></p>
              <input type="date" id="birthday" name="birthday" class="form-control" required/>
            </div>
            <div class="form-group mb-3">
              <label class="control-label"> CMND</label>
              <p id="cmndError" style="color: red;"></p>
              <input type="text" id="cmnd" name="cmnd" class="form-control" placeholder="Enter cmnd" required/>
            </div>
            <div class="form-group mb-3">
              <label class="control-label"> Email</label>
              <p id="emailError" style="color: red;"></p>
              <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" required/>
            </div>
            <div class="form-group mb-3">
              <label class="control-label"> User name</label>
              <p id="usernameError" style="color: red;"></p>
              <input type="text" id="username" name="username" class="form-control" placeholder="Enter user name" required/>
            </div>
            <div class="form-group mb-3">
              <label class="control-label"> Password</label>
              <p id="passwordError" style="color: red;"></p>
              <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required/>
            </div>
            <div class="form-group mb-3">
              <label class="control-label"> Permission</label>
              <select class="form-select" aria-label="Default select example" id="permission" name="permission" required>
<!--                <option selected>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                <option selected value="user">User</option>
                <option value="admin">Admin</option>

<!--                <option value="staff">Staff</option>-->
              </select>
<!--              <p th:if="${permission != null}" th:utext="${permission}" style="color: red;"></p>-->
            </div>
            <div class="form-group mb-3">
              <button type="submit" id="submitButton" class="btn btn-primary" >Add</button>
              <span> Back to
                <a th:href="@{/user}">List user</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
   function post() {
            event.preventDefault();
            var form = $("#formId");
            $.ajax({
                type: "POST",
                url: "addUser",
                data: form.serialize(),
                success: function(response) {
                    if(response == "login"){
                      window.location="login";
                    }
                    if(response =="user"){
                      window.location="user";
                    }
                    $("#cmndError").html("");
                    $("#usernameError").html("");
                    var data = JSON.parse(response);
                    // Ajax call completed successfully
                    if(data.errorCMND == "errorCMND"){
                       $("#cmndError").html("CMND đã tồn tại");
                    }
                    if(data.errorUsername == "errorUsername"){
                      $("#usernameError").html("Username đã tồn tại");
                    }
                     if(data.status =="200"){
                      alert("Success add user");
                      window.location="user";
                    }
                },
                error: function(data) {

                    // Some error in ajax call
                    alert("some Error add user");
                }
            });
        };
</script>
</body>
</html>