<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Home</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="login" th:href="@{/login}"
                       th:if="${session.id == null}">Login</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="user"
                       th:href="@{/user}"
                       th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin')}">User</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="location"
                       th:href="@{/location}" th:if="${session.id != null and session.permission != 'manageRed'}">Location</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="weather" th:href="@{/weather}"
                       th:if="${session.id != null}">Weather</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="logout" th:href="@{/logout}"
                       th:if="${session.id != null}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div class="row">
        <h1 class="text-center"> Home </h1>
    </div>
</div>
<script>

<!--    $("#logout").click(function(ev) {-->
<!--                $.ajax({-->
<!--                        type: "post",-->
<!--                        contentType: 'application/json',-->
<!--                        dataType: 'json',-->
<!--                        url: "logout",-->
<!--                        success: function(response) {-->

<!--                                  alert("Đã đăng xuất");-->
<!--                                  window.location="/";-->

<!--                        },-->

<!--                });-->
<!--          });-->

</script>
</body>
</html>