<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fileDownload/1.4.2/jquery.fileDownload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fileDownload/1.4.2/jquery.fileDownload.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Home</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="login" th:href="@{/login}"
                       th:if="${session.id == null}">Login</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="user"
                       th:href="@{/user}"
                       th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin')}">User</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="location"
                       th:href="@{/location}" th:if="${session.id != null and session.permission != 'manageRed'}">Location</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="weather" th:href="@{/weather}"
                       th:if="${session.id != null}">Weather</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="logout" th:href="@{/logout}"
                       th:if="${session.id != null}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>List location</h2>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <input class="form-control" id="input" name="input" placeholder="Enter user name or email" required
                       type="text"/>
                <button class="btn btn-primary" id="send">Find</button>
            </div>
            <div class="input-group mb-3" id="buttonDownload">
                <button class="btn btn-success" id="downloadJson" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin')}">Download Json</button>
                <button class="btn btn-success ms-2" id="downloadExcel" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin')}">Download Excel</button>
                <input class="ms-2" width="200" id="fileUpload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" name="fileUpload" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin' or session.permission == 'manageImport')}"/>
                <button class="btn btn-success ms-2" id="upload" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin' or session.permission == 'manageImport')}"> Upload </button>
            </div>
            <table id="myTable">
                <thead>
                <tr align="center">
                    <th>id</th>
                    <th>name</th>
                    <th>region</th>
                    <th>country</th>
                    <th>lat</th>
                    <th>lon</th>
                    <th>url</th>
                    <!--        <th></th>-->
                </tr>
                </thead>

            </table>

        </div>
    </div>
</div>
<script type="text/javascript">

$(document).ready( function () {
    var t = $('#myTable').DataTable({
         searching: false,
         ordering: false,
          "columns": [
                { "width": "5%" },
                { "width": "10%" },
                { "width": "20%" },
                { "width": "15%" },
                { "width": "5%" },
                { "width": "5%" },
                { "width": "40%" }
          ]
    });

    function checkInput( input) {
        var regex=/^[a-zA-Z0-9]{0,50}$/;
        if(!input){
            alert("Vui lòng nhập giá trị cần tìm");
            return false;
        }
        if(!input.match(regex)){
            alert("Vui lòng không nhập ký tự đặt biệt");
            return false;
        }
        return true;
    }

    function buttonClick() {
         $("#send").prop("disabled", true);
         $("#downloadJson").prop("disabled", true);
         $("#downloadExcel").prop("disabled", true);
         $("#upload").prop("disabled", true);
         $("#fileUpload").prop("disabled", true);
    }

    function buttonComplete() {
        $("#send").prop("disabled", false);
        $("#downloadJson").prop("disabled", false);
        $("#downloadExcel").prop("disabled", false);
        $("#upload").prop("disabled", false);
        $("#fileUpload").prop("disabled", false);
    }

<!--    function loadButtonDownload() {-->
<!--        $.ajax({-->
<!--            type: "get",-->
<!--            contentType: 'application/json',-->
<!--            dataType: 'json',-->
<!--            url: "getSessionPermission",-->
<!--            success: function(data){-->
<!--                console.log(data);-->
<!--                if(data == "user" || data == "admin") {-->
<!--                    $("#downloadJson").show();-->
<!--                    $("#downloadExcel").show();-->
<!--                } else {-->
<!--                    $("#downloadJson").hide();-->
<!--                    $("#downloadExcel").hide();-->
<!--                }-->
<!--            },-->
<!--            error: function(data){-->
<!--                 alert('fail find user!');-->
<!--            }-->
<!--        });-->
<!--    }-->

    $("#send").click(function(ev) {
        var input = $('#input').val();
        buttonClick();
        if(checkInput(input) == false) {
            buttonComplete();
            return false;
        } else {
            console.log(input);
            $.ajax({
                type: "post",
                contentType: 'application/json',
                dataType: 'json',
                url: "location",
                data: JSON.stringify({"input":input}),

                success: function(data){
                    if(data.length==0){
                        alert("Không tìm thấy");
                    } else {
                        alert('Success find user!');
    <!--                             t.rows.remove();-->
                        $.each(data, function(index) {
                            t.row.add([data[index].id, data[index].name, data[index].region, data[index].country, data[index].lat, data[index].lon, data[index].url]).draw(false);
                        });
                    }
                     buttonComplete();
                },
                error: function(data){
                     alert('fail find user!');
                     buttonComplete();
                }
            });
        }
    });
    $("#downloadJson").click(function (e) {
        var input = $('#input').val();
        buttonClick();
        if(checkInput(input) == false) {
            buttonComplete();
            return false;
        } else {
            $.ajax({
                type: "post",
                contentType: 'application/json',
                dataType: 'json',
                url: "exportAndDownloadJsonLocations",
                data: JSON.stringify({"input":input}),
<!--                xhr: function () {-->
<!--                    var xhr = new XMLHttpRequest();-->
<!--                    xhr.onreadystatechange = function () {-->
<!--                         if (xhr.readyState == 2) {-->
<!--                            xhr.responseType = "blob";-->
<!--                         }-->
<!--                    };-->
<!--                    return xhr;-->
<!--                },-->
                success: function(data){
                    if(!data){
                        alert("Error");
                    }
                    if(data.length==0){
                        alert("Không tìm thấy");
                    } else {
                        alert('Download json: Success find location!');
<!--                        var contentDisposition = data.headers["Content-Disposition"];-->
                        //var filename = "";
<!--                        if (contentDisposition) {-->
<!--                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;-->
<!--                            var matches = filenameRegex.exec(contentDisposition);-->
<!--                            if (matches != null && matches[1]) {-->
<!--                              filename = matches[1].replace(/['"]/g, '');-->
<!--                            }-->
<!--                        }-->
                        var json = JSON.stringify(data, null, "\t");
                        //Convert the Byte Data to BLOB object.
                        var blob = new Blob([json], { type: "application/json" });
                        var d = new Date();
                        var month = d.getMonth()+1;
                        var day = d.getDate();
                        var filename = "location"+ (day<10 ? '0' : '') + day + "-" + (month<10 ? '0' : '') + month + "-" + d.getFullYear() + "-" + (d.getHours()<10 ? '0' : '') + d.getHours() + "-" + (d.getMinutes()<10 ? '0' : '') + d.getMinutes() + "-" + (d.getSeconds()<10 ? '0' : '') + d.getSeconds() + ".json";
                        //Check the Browser type and download the File.
                        var isIE = false || !!document.documentMode;
                        if (isIE) {
                            console.log("isIE");
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                            var url = window.URL || window.webkitURL;
                            link = url.createObjectURL(blob);
                            var a = $("<a />");
                            a.attr("download", filename);
                            a.attr("href", link);
                            $("body").append(a);
                            a[0].click();
                            $("body").remove(a);
                            alert('Download json: Success download location!');
                        }
                    }
                    buttonComplete();
                },
                error: function(data){
                    alert('fail find user!');
                    buttonComplete();
                }
            });
        }
    });
    $("#downloadExcel").click(function (e) {
        var input = $('#input').val();
        buttonClick();
        if(checkInput(input) == false) {
            buttonComplete();
            return false;
        } else {
            e.preventDefault();
            $.ajax({
                type: "post",
                contentType: 'application/json',
                url: "exportAndDownloadExcelLocations",
                data: JSON.stringify({"input":input}),
                xhr: function () {
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                         if (xhr.readyState == 2) {
                            xhr.responseType = "blob";
                         }
                    };
                    return xhr;
                },
                success: function(data){
                    if(data.length==0){
                        alert("Không tìm thấy");
                    } else {
                        alert('Download excel: Success find location!');
    <!--                    var contentDisposition = data.headers["Content-Disposition"];-->
    <!--                    var filename = "";-->
    <!--                    if (contentDisposition) {-->
    <!--                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;-->
    <!--                        var matches = filenameRegex.exec(contentDisposition);-->
    <!--                        if (matches != null && matches[1]) {-->
    <!--                          filename = matches[1].replace(/['"]/g, '');-->
    <!--                        }-->
    <!--                    }-->
    <!--                    var json = JSON.stringify(data.body, null, "\t");-->
                        //Convert the Byte Data to BLOB object.
                        //debugger;
                        //var bytes = new Uint8Array(data);
                        //var blob = new Blob([this.data], "location.xlsx", { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                        var blob = new Blob([data], { type: "application/octetstream" });
                        //Check the Browser type and download the File.
                        var d = new Date();
                        var month = d.getMonth()+1;
                        var day = d.getDate();
                        var filename = "location"+ (day<10 ? '0' : '') + day + "-" + (month<10 ? '0' : '') + month + "-" + d.getFullYear() + "-" + (d.getHours()<10 ? '0' : '') + d.getHours() + "-" + (d.getMinutes()<10 ? '0' : '') + d.getMinutes() + "-" + (d.getSeconds()<10 ? '0' : '') + d.getSeconds() + ".xlsx";
                        var isIE = false || !!document.documentMode;
                        if (isIE) {
                            console.log("isIE");
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                             alert('Download excel: Success download location!');
                            var url = window.URL || window.webkitURL;
                            link = url.createObjectURL(blob);
                            var a = $("<a />");
                            a.attr("download", filename);
                            a.attr("href", link);
                            $("body").append(a);
                            a[0].click();
                            $("body").remove(a);
                        }
                    }
                    buttonComplete();
                },
                error: function(data){
                    alert('fail find user!');
                    buttonComplete();
                }
            });
        }
    });

    $("#upload").click(function(ev) {

        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
        if (regex.test($("#fileUpload").val().toLowerCase())) {
            buttonClick();
            var formData = new FormData();
            formData.append("file", fileUpload.files[0]);
            $.ajax({
                type: "post",
                processData: false,
                contentType: false,
                url: "importFileExcelLocation",
                data: formData,
                success: function(data){
                    $('#fileUpload').val('');
                    buttonComplete();
                    if(data == "200"){
                        alert("Success");
                    } else {
                        alert("Error");
                    }
                },
                error: function(data){
                    alert('fail find user!');
                    $('#fileUpload').val('');
                    buttonComplete();
                }

            });
        } else {
            alert("Please upload a valid Excel file!");
        }
    });
});

</script>
</body>
</html>