<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          padding-top: 100px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, .4);
        }

        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 70%;
        }

        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        .lblName {
            font-weight: bold;
            font-size: 20px;
        }
        .lblValue {
            font-size: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Home</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="login" th:href="@{/login}"
                       th:if="${session.id == null}">Login</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="user"
                       th:href="@{/user}"
                       th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin')}">User</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="location"
                       th:href="@{/location}" th:if="${session.id != null and session.permission != 'manageRed'}">Location</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="weather" th:href="@{/weather}"
                       th:if="${session.id != null}">Weather</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" id="logout" th:href="@{/logout}"
                       th:if="${session.id != null}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="modal" role="dialog">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 style="color: green">Weather detail</h2>
            <div class="modal-body">
                <table>
                    <tr>
                        <th width="25%"></th>
                        <th width="35%"></th>
                        <th width="20%"></th>
                        <th width="20%"></th>
                    </tr>
                    <tr>
                        <td><label class="lblName">location id: </label></td>
                        <td><label class="lblValue" id="locationID" value=""></label></td>
                        <td><label class="lblName">gust kph: </label></td>
                        <td><label class="lblValue" id="gustKph" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">time epoch: </label></td>
                        <td><label class="lblValue" id="timeEpoch" value=""></label></td>
                        <td><label class="lblName">time: </label></td>
                        <td><label class="lblValue" id="time" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">temp c: </label></td>
                        <td><label class="lblValue" id="tempC" value=""></label></td>
                        <td><label class="lblName">temp f: </label></td>
                        <td><label class="lblValue" id="tempF" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">is day: </label></td>
                        <td><label class="lblValue" id="isDay" value=""></label></td>
                        <td><label class="lblName">wind mph: </label></td>
                        <td><label class="lblValue" id="windMph" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">wind kph: </label></td>
                        <td><label class="lblValue" id="windKph" value=""></label></td>
                        <td><label class="lblName">wind degree: </label></td>
                        <td><label class="lblValue" id="windDegree" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">wind dir: </label></td>
                        <td><label class="lblValue" id="windDir" value=""></label></td>
                        <td><label class="lblName">pressure mb: </label></td>
                        <td><label class="lblValue" id="pressureMb" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">pressure in: </label></td>
                        <td><label class="lblValue" id="pressureIn" value=""></label></td>
                        <td><label class="lblName">precip mm: </label></td>
                        <td><label class="lblValue" id="precipMm" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">precip in: </label></td>
                        <td><label class="lblValue" id="precipIn" value=""></label></td>
                        <td><label class="lblName">humidity: </label></td>
                        <td><label class="lblValue" id="humidity" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">cloud: </label></td>
                        <td><label class="lblValue" id="cloud" value=""></label></td>
                        <td><label class="lblName">feels like c: </label></td>
                        <td><label class="lblValue" id="feelsLikeC" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">feels like f: </label></td>
                        <td><label class="lblValue" id="feelsLikeF" value=""></label></td>
                        <td><label class="lblName">windchill c: </label></td>
                        <td><label class="lblValue" id="windchillC" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">windchill f: </label></td>
                        <td><label class="lblValue" id="windchillF" value=""></label></td>
                        <td><label class="lblName">heat index c: </label></td>
                        <td><label class="lblValue" id="heatIndexC" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">heat index f: </label></td>
                        <td><label class="lblValue" id="heatIndexF" value=""></label></td>
                        <td><label class="lblName">dew point c: </label></td>
                        <td><label class="lblValue" id="dewPointC" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">dew point f: </label></td>
                        <td><label class="lblValue" id="dewPointF" value=""></label></td>
                        <td><label class="lblName">will it rain: </label></td>
                        <td><label class="lblValue" id="willItRain" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">chance of rain: </label></td>
                        <td><label class="lblValue" id="chanceOfRain" value=""></label></td>
                        <td><label class="lblName">will it snow: </label></td>
                        <td><label class="lblValue" id="willItSnow" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">chance of snow: </label></td>
                        <td><label class="lblValue" id="chanceOfSnow" value=""></label></td>
                        <td><label class="lblName">vis km: </label></td>
                        <td><label class="lblValue" id="visKm" value=""></label></td>
                    </tr>
                    <tr>
                        <td><label class="lblName">vis miles: </label></td>
                        <td><label class="lblValue" id="visMiles" value=""></label></td>
                        <td><label class="lblName">gust mph: </label></td>
                        <td><label class="lblValue" id="gustMph" value=""></label></td>
                    </tr>

                </table>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>List weather</h2>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="mt-1">From &emsp;</label>
                <input class="form-control" id="startDate" name="startDate" required type="datetime-local" width="10%"/>
                <label class="mt-1"> &emsp;to &emsp;</label>
                <input class="form-control ms-1" id="endDate" name="endDate" required type="datetime-local"
                       width="10%"/>
                <label class="mt-1" id="lblLocationId" th:if="${session.id != null and session.permission != 'manageRed'}"> &emsp;location id: &emsp;</label>
                <select class="form-control me-1" id="input" name="input" th:if="${session.id != null and session.permission != 'manageRed'}">
                    <option value=''>-------Select location--------</option>
                </select>
                <button class="btn btn-primary ms-1" id="send">&emsp; Find</button>
            </div>

            <!--            <a class="btn btn-success"th:if="${session.permission}== 'admin'" th:href="@{/addUser}" role="button">Add</a>-->
            <div class="input-group mb-3" id="buttonDownload">
                <button class="btn btn-success" id="downloadJson" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin')}">Download Json</button>
                <button class="btn btn-success ms-2" id="downloadExcel" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin')}">Download Excel</button>
                <input class="ms-2" id="fileUpload" type="file" name="fileUpload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin' or session.permission == 'manageImport')}"/>
                <button class="btn btn-success ms-1" id="upload" onclick="uploadFile()" th:if="${session.id != null and (session.permission == 'user' or session.permission == 'admin' or session.permission == 'manageImport')}"> Upload </button>
            </div>

            <table class="display" id="myTable" style="width:100%">
                <thead>
                <tr align="center">

                    <th rowspan="2">location id</th>
                    <th rowspan="2">time epoch</th>
                    <th rowspan="2">time</th>
                    <th rowspan="2">temp c</th>
                    <th rowspan="2">temp f</th>
                    <th colspan="3">condition</th>
                    <th rowspan="2">data</th>
                    <!--        <th></th>-->
                </tr>
                <tr>
                    <th>text</th>
                    <th>icon</th>
                    <th>code</th>
                </tr>
                </thead>

            </table>

        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready( function () {
    var t = $('#myTable').DataTable({
         searching: false,
         ordering: false,
         columnDefs: [
            {
                target: 8,
                visible: false,
            }

        ],
          "columns": [
                { "width": "10%" },
                { "width": "10%" },
                { "width": "15%" },
                { "width": "7%" },
                { "width": "7%" },
                { "width": "25%" },
                { "width": "10%" },
                { "width": "5%" }
          ]
    });

    function checkInput(startDate, endDate, locationId){
        if(!startDate){
                alert("Vui lòng nhập ngày bắt đầu");
                return false;
            }
            if(!endDate){
                alert("Vui lòng nhập ngày kêt thúc");
                return false;
            }
            if(new Date(startDate).getTime()>=new Date(endDate).getTime()){
                alert("Vui lòng nhập ngày kêt thúc lớn hơn ngày bắt đầu");
                return false;
        }
        if(!locationId) {
            var dayMs =new Date(endDate).getTime() - new Date(startDate).getTime();
            var day = (dayMs/3600000)/24;
            console.log(day);
            if ( day > 5) {
                alert("khoảng cách giữa hai ngày tối đa 5 do không có locationId");
                return false;
            }
        } else {
            var regex=/^[0-9|\\\\,]{0,100}$/;
            if(!locationId.match(regex)){
                alert("Nhập location id phải là số và nhiều location id thì cách nhau bằng dấu phẩy và không có khoảng trắng");
                return false;
            }
        }
        return true;
    }

    loadComboBoxLocationId();



    function loadComboBoxLocationId() {
        $.ajax({
                type: "get",
                contentType: 'application/json',
                dataType: 'json',
                url: "getLocation",
                success: function(data){
                    var len = data.length;
                    for( var i = 0; i<len; i++){
                       var id = data[i]['id'];
                       var name = data[i]['name'];
                       $("#input").append("<option value='"+id+"'>"+name+"</option>");
                    }
                },
                error: function(data){
                     alert('fail find user!');
                }
        });
    }

<!--    function loadButtonDownload() {-->
<!--        $.ajax({-->
<!--            type: "get",-->
<!--            contentType: 'application/json',-->
<!--            dataType: 'json',-->
<!--            url: "getSessionPermission",-->
<!--            success: function(data){-->
<!--                console.log(data);-->
<!--                if(data == "user" || data == "admin" ) {-->
<!--                    $("#downloadJson").show();-->
<!--                    $("#downloadExcel").show();-->
<!--                } else {-->
<!--                    $("#downloadJson").hide();-->
<!--                    $("#downloadExcel").hide();-->
<!--                    if (data == "manageRed") {-->
<!--                        $("#input").hide();-->
<!--                        $("#lblLocationId").hide();-->
<!--                    }-->
<!--                }-->
<!--            },-->
<!--            error: function(data){-->
<!--                 alert('fail find user!');-->
<!--            }-->
<!--        });-->
<!--    }-->

    function buttonClick() {
         $("#send").prop("disabled", true);
         $("#downloadJson").prop("disabled", true);
         $("#downloadExcel").prop("disabled", true);
         $("#upload").prop("disabled", true);
         $("#fileUpload").prop("disabled", true);
    }

    function buttonComplete() {
        $("#send").prop("disabled", false);
        $("#downloadJson").prop("disabled", false);
        $("#downloadExcel").prop("disabled", false);
        $("#upload").prop("disabled", false);
        $("#fileUpload").prop("disabled", false);
    }

    $("#send").click(function(ev) {
        buttonClick();
        var input = $('#input').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        if (checkInput(startDate, endDate, input) == false) {
            buttonComplete();
            return false;
        } else {
            $.ajax({
                type: "post",
                contentType: 'application/json',
                dataType: 'json',
                url: "weather",
                data: JSON.stringify({"startDate":startDate, "endDate":endDate, "locationID":input}),
                success: function(data){
                    if(data.length==0){
                        alert("Không tìm thấy");
                    }
                    else{
                        alert('Success find user!');
                        $.each(data, function(index) {
                            var condition = data[index].condition;
                            var image = "<img width=\"32\"  src=\""+condition.icon+"\">";
                            t.row.add([ data[index].location_id, data[index].time_epoch, data[index].time, data[index].temp_c, data[index].temp_f, condition.text,image , condition.code, data[index]]).draw(false);
                        });
                    }
                    buttonComplete();
                },
                error: function(data){
                     alert('fail find user!');
                     buttonComplete();
                }
            });
        }
    });
    t.on( 'click', 'tbody td', function (indexes) {
        var tr = $(this).closest('tr');
        var row = t.row(tr);
        console.log(row.data());
        console.log(row.data()[8]);
<!--        var weather = JSON.parse(row.data()[8]);-->
        console.log(row.data()[8].time);
        var weather = row.data()[8];

        $('#locationID').html(weather.location_id);
        $('#timeEpoch').html(weather.time_epoch);
        $('#time').html(weather.time);
        $('#tempC').html(weather.temp_c);
        $('#tempF').html(weather.temp_f);
        $('#isDay').html(weather.is_day);
        $('#windMph').html(weather.wind_mph);
        $('#windKph').html(weather.wind_kph);
        $('#windDegree').html(weather.wind_degree);
        $('#windDir').html(weather.wind_dir);
        $('#pressureMb').html(weather.pressure_mb);
        $('#pressureIn').html(weather.pressure_in);
        $('#precipMm').html(weather.precip_mm);
        $('#precipIn').html(weather.precip_in);
        $('#humidity').html(weather.humidity);
        $('#cloud').html(weather.cloud);
        $('#feelsLikeC').html(weather.feelslike_c);
        $('#feelsLikeF').html(weather.feelslike_f);
        $('#windchillC').html(weather.windchill_c);
        $('#windchillF').html(weather.windchill_f);
        $('#heatIndexC').html(weather.heatindex_c);
        $('#heatIndexF').html(weather.heatindex_f);
        $('#dewPointC').html(weather.dewpoint_c);
        $('#dewPointF').html(weather.dewpoint_f);
        $('#willItRain').html(weather.will_it_rain);
        $('#chanceOfRain').html(weather.chance_of_rain);
        $('#willItSnow').html(weather.will_it_snow);
        $('#chanceOfSnow').html(weather.chance_of_snow);
        $('#visKm').html(weather.vis_km);
        $('#visMiles').html(weather.vis_miles);
        $('#gustMph').html(weather.gust_mph);
        $('#gustKph').html(weather.gust_kph);
        $('.modal').show();


<!--        window.location="weatherDetail";-->

    } );
    var span = $('.close');
    span.click(function () {
        $('.modal').hide();
    });
    $("#downloadJson").click(function (e) {
        var input = $('#input').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        buttonClick();
        if (checkInput(startDate, endDate, input) == false) {
            buttonComplete();
            return false;
        } else {

            $.ajax({
                type: "post",
                contentType: 'application/json',
                dataType: 'json',
                url: "exportAndDownloadJsonWeather",
                data: JSON.stringify({"startDate":startDate, "endDate":endDate, "locationID":input}),
                success: function(data){
                    if (data.length == 0) {
                        alert("Không tìm thấy");
                    } else {
                        alert('Download json: Success find weather!');
<!--                        var contentDisposition = data.headers["Content-Disposition"];-->
<!--                        var filename = "";-->
<!--                        if (contentDisposition) {-->
<!--                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;-->
<!--                            var matches = filenameRegex.exec(contentDisposition);-->
<!--                            if (matches != null && matches[1]) {-->
<!--                              filename = matches[1].replace(/['"]/g, '');-->
<!--                            }-->
<!--                        }-->

                        var json = JSON.stringify(data, null, "\t");
                        //Convert the Byte Data to BLOB object.
                        var blob = new Blob([json], { type: "application/json" });
                        var d = new Date();
                        var month = d.getMonth()+1;
                        var day = d.getDate();
                        var filename = "weather"+ (day<10 ? '0' : '') + day + "-" + (month<10 ? '0' : '') + month + "-" + d.getFullYear() + "-" + (d.getHours()<10 ? '0' : '') + d.getHours() + "-" + (d.getMinutes()<10 ? '0' : '') + d.getMinutes() + "-" + (d.getSeconds()<10 ? '0' : '') + d.getSeconds() + ".json";
                        //Check the Browser type and download the File.
                        var isIE = false || !!document.documentMode;
                        if (isIE) {
                            console.log("isIE");
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                            var url = window.URL || window.webkitURL;
                            link = url.createObjectURL(blob);
                            var a = $("<a />");
                            a.attr("download", filename);
                            a.attr("href", link);
                            $("body").append(a);
                            a[0].click();
                            $("body").remove(a);
                            alert('Download json: Success download weather!');
                        }
                    }
                    buttonComplete();
                },
                error: function(data){
                    alert('fail find user!');
                    buttonComplete();
                }
            });
        }
    });
    $("#downloadExcel").click(function (e) {
        var input = $('#input').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        buttonClick();
        if (checkInput(startDate, endDate, input) == false) {
            buttonComplete();
            return false;
        } else {
            e.preventDefault();
            $.ajax({
                type: "post",
                contentType: 'application/json',
                url: "exportAndDownloadExcelWeather",
                data: JSON.stringify({"startDate":startDate, "endDate":endDate, "locationID":input}),
                xhr: function () {
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                         if (xhr.readyState == 2) {
                            xhr.responseType = "blob";
                         }
                    };
                    return xhr;
                },
                success: function(data){
                    if(data.length==0){
                        alert("Không tìm thấy");
                    } else {
                        alert('Download json: Success find weather!');
<!--                        var contentDisposition = data.headers["Content-Disposition"];-->
<!--                        var filename = "";-->
<!--                        if (contentDisposition) {-->
<!--                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;-->
<!--                            var matches = filenameRegex.exec(contentDisposition);-->
<!--                            if (matches != null && matches[1]) {-->
<!--                              filename = matches[1].replace(/['"]/g, '');-->
<!--                            }-->
<!--                        }-->
                        //Convert the Byte Data to BLOB object.
                        var blob = new Blob([data], { type: "application/octetstream" });
                        var d = new Date();
                        var month = d.getMonth()+1;
                        var day = d.getDate();
                        var filename = "weather"+ (day<10 ? '0' : '') + day + "-" + (month<10 ? '0' : '') + month + "-" + d.getFullYear() + "-" + (d.getHours()<10 ? '0' : '') + d.getHours() + "-" + (d.getMinutes()<10 ? '0' : '') + d.getMinutes() + "-" + (d.getSeconds()<10 ? '0' : '') + d.getSeconds() + ".xlsx";
                        //Check the Browser type and download the File.
                        var isIE = false || !!document.documentMode;
                        if (isIE) {
                            console.log("isIE");
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                            var url = window.URL || window.webkitURL;
                            link = url.createObjectURL(blob);
                            var a = $("<a />");
                            a.attr("download", filename);
                            a.attr("href", link);
                            $("body").append(a);
                            a[0].click();
                            $("body").remove(a);
                            alert('Download excel: Success download weather!');
                        }
                    }
                    buttonComplete();
                },
                error: function(data){
                    alert('fail find user!');
                    buttonComplete();
                }
            });
        }
    });

    $("#upload").click(function(ev) {
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
        if (regex.test($("#fileUpload").val().toLowerCase())) {
            buttonClick();
            var formData = new FormData();
            formData.append("file", fileUpload.files[0]);
            $.ajax({
                type: "post",
                processData: false,
                contentType: false,
                url: "importFileExcelWeather",
                data: formData,
                success: function(data){
                    $('#fileUpload').val('');
                    buttonComplete();
                    if(data == "200"){
                        alert("Success");
                    } else {
                        alert("Error");
                    }
                },
                error: function(data){
                    alert('fail find user!');
                    $('#fileUpload').val('');
                    buttonComplete();
                }

            });
        } else {
            alert("Please upload a valid Excel file!");
        }
    });

});

</script>
</body>
</html>